*.yaml
*.py~
*.yaml~
*.sql#
*.sql~
.#*
__pycache__
itemhut
*~
.~lock.*
uploaded_files/images/*
uploaded_files/invoices/*
uploaded_files/orders/*
itemhut/uploaded_files/palletloc_files/*
data
session
email/gmail/client_secret.json